button.form-delete[type="submit"]{
    padding:8px 32px;
    background-color: rgb(231, 123, 104);
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

button.form-save[type="submit"]{
    padding:8px 32px;
    background-color: rgb(110, 187, 122);
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    cursor: pointer;
    color: white;
    font-size: 16px;
}